*__pycache__*
*.DS_Store*
*.pyc
*.gitignore*
*Testing/*
NLP/FINAL_PROJECT/dev/dialogues_001.json
NLP/FINAL_PROJECT/dev/dialogues_002.json
NLP/FINAL_PROJECT/test/dialogues_001.json
NLP/FINAL_PROJECT/test/dialogues_002.json
NLP/FINAL_PROJECT/train/dialogues_001.json
NLP/FINAL_PROJECT/train/dialogues_002.json
NLP/FINAL_PROJECT/train/dialogues_003.json
NLP/FINAL_PROJECT/train/dialogues_004.json
NLP/FINAL_PROJECT/train/dialogues_005.json
NLP/FINAL_PROJECT/train/dialogues_006.json
NLP/FINAL_PROJECT/train/dialogues_007.json
NLP/FINAL_PROJECT/train/dialogues_008.json
NLP/FINAL_PROJECT/train/dialogues_009.json
NLP/FINAL_PROJECT/train/dialogues_010.json
NLP/FINAL_PROJECT/train/dialogues_011.json
NLP/FINAL_PROJECT/train/dialogues_012.json
NLP/FINAL_PROJECT/train/dialogues_013.json
NLP/FINAL_PROJECT/train/dialogues_014.json
NLP/FINAL_PROJECT/train/dialogues_015.json
NLP/FINAL_PROJECT/train/dialogues_016.json
NLP/FINAL_PROJECT/train/dialogues_017.json
